<%var js = 'react_method/index'%>
<%var css = 'react_method/index'%>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>主题</title>
    <% include ../layout/header.ejs %>
    
</head>
<body>
写入主体
<div id="test"></div>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button">Action</button>
    <button class="dropdown-item" type="button">Another action</button>
    <button class="dropdown-item" type="button">Something else here</button>
  </div>
</div>
</body>
   <% include ../layout/footer.ejs %>
   <script src="/js/highchart/index.js" type="text/javascript"></script>
</html>