body{
	font-size:14px;

	.sj{
		text-indent:1%;
	}
	.wz{
		text-align:center;
		line-height:4em;
		border:1px solid black;
		margin:10px 5px;

	}
	.va{
		border:1px solid black;
		vertical-align:baseline;
		line-height:40px;

	}
}