<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
/** vim: et:ts=4:sw=4:sts=4
<script data-main="javascripts/page/ceshi" src="javascripts/lib/require.js"></script>
</html>
