<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>表单测试页面</title>

</head>
				
<body>
	
<div>
				姓名：<%= data.name %>
				</div>
								<div>
				年龄：<%= data.age %>
				</div>
				welcome to form page!

<div id="main_form">
	<input type="text" data_obj="a2" id="sd">
	<input type="text" data_obj="a3" id="df">
	<input type="text" data_obj="a4" id="fg">
	<input type="text" data_obj="a5" id="gh">
</div>
</body>
<script src="/javascripts/lib/r.js" data-main="/javascripts/page/form/index" ></script>
				
</html>