<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>表单测试页面</title>
</head>
				

				<div>
				姓名：<%= data.name %>
				</div>
								<div>
				年龄：<%= data.age %>
				</div>
				welcome to form page!
</html>