<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>lodash测试</title>
</head>

<body>
数据处理
<div id="div01"></div>

<div id="chart_line"></div>
<div id="chart_bar"></div>

</body>
<script src="/javascripts/lib/r.js" data-main="/javascripts/lodash_test.js" ></script>
</html>