<%var js = 'full_page/index'%>
<%var css = 'full_page/index'%>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>full page</title>
    <% include ../layout/header.ejs %>
</head>
<body>
<div class="container">
  body
</div>
</body>
   <% include ../layout/footer.ejs %>
</html>