<%var js = 'file_test/index'%>
<%var css = 'file_test/index'%>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>file文件操作</title>
    <% include ../layout/header.ejs %>
</head>
<body>
<pre>
  file文件相关操作
</pre>
<label htmlFor="">创建的文件名称：</label>
<input type="text" class="form-control" id="filename"/>
<button class="btn sm-bt btn-success" type="button"><i class="icon-ok"></i> 创建</button>
<button class="btn btn-danger" type="button"><i class="icon-warning-sign"></i> Delete</button>


</body>
   <% include ../layout/footer.ejs %>
</html>