<%var js = 'css_test/index'%>
<%var css = 'css_test/index'%>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>主题</title>
    <% include ../layout/header.ejs %>
</head>
<body>
外部链接：

<a href="css_test/attribute/text">文本属性：</a>
<a href="css_test/attribute/layout">基本视觉格式化：</a>
<div class="font-test">
	The font test 字体测试
	<p class="fontSize">
	<span class="p1">字体大小</span>
	<span class="p2">字体大小</span>
	<span class="p3">字体大小</span>
	<span class="p4">字体大小</span>
	<span class="p5">字体大小 I am a boy</span>
	<span class="p6">字体大小</span>
	<span class="p7">字体大小</span>
	</p>
	font-style:字体样式：初始值：normal<br>
	值：italic（斜体）| oblique（倾斜字体）|normal(竖直文本)|inherit（继承）<br>
	font-variant:字体变形：初始值：normal
	值：small-caps（小型大写字母）|normal(正常文本)|inherit<br>
	将所有字体属性都可以集成到font 属性上，
</div>
<button>caption 按钮</button>
<div class="border-width">

	css 中含有的长度单位 （绝对单位）
	<ul>
		<li>	1、in 英寸，1英寸等于2.54cm,等于25.4mm,等于72pt</li>
		<li>2、cm 厘米</li>
		<li>3、mm 毫米</li>
		<li>4、pt 点</li>
		<li>5、pc 派卡,1pc = 12pt;</li>
	</ul>
		css 中含有的长度单位 （相对单位）
	<ul>
		<li>	1、px 像素</li>
		<li>2、em (em-height)，当当前元素的font-size:14px; 时，1em 就代表14px
			<br>
			显然，这个值会随着元素的不同而不同的。
		</li>
		<li>3、ex( x-height) 指所用字体中小写x的高度</li>
	</ul>

</div>

<div class="mainbody">
<div class="loading-wrapper">
	<div id="container">
	  <div class="stick"></div>
	  <div class="stick"></div>
	  <div class="stick"></div>
	  <div class="stick"></div>
	  <div class="stick"></div>
	  <div class="stick"></div>
	  
	  <h1>Loading...</h1>
	  
	</div>
</div>

</div>

</body>
   <% include ../layout/footer.ejs %>
</html>