<%var js = 'css_test/index'%>
<%var css = 'css_test/index'%>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>主题</title>
    <% include ../layout/header.ejs %>
</head>
<body>
写入主体
<div class="mainbody">
<div class="loading-wrapper">
	<div id="container">
	  <div class="stick"></div>
	  <div class="stick"></div>
	  <div class="stick"></div>
	  <div class="stick"></div>
	  <div class="stick"></div>
	  <div class="stick"></div>
	  
	  <h1>Loading...</h1>
	  
	</div>
</div>

</div>

</body>
   <% include ../layout/footer.ejs %>
</html>