<%var js = 'css_test/layout'%>
<%var css = 'css_test/layout'%>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>主题</title>
    <% include ../layout/header.ejs %>
</head>
<body>
<div class="layout">
hahahha
</div>



<div class="con1">
<p></p>
</div>
</body>
   <% include ../layout/footer.ejs %>
</html>