<%var js = 'css_test/text_attribute'%>
<%var css = 'css_test/text_attribute'%>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>主题</title>
    <% include ../layout/header.ejs %>
</head>
<body>
hahahah

</body>
   <% include ../layout/footer.ejs %>
</html>