<%var js = 'css_test/text_attribute'%>
<%var css = 'css_test/text_attribute'%>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>主题</title>
    <% include ../layout/header.ejs %>
</head>
<body>
<div class="sj">
文本缩进text-indent，理论上，可以将这个属性应用于所有的块级元素，但无法应用于行内元素。
</div>
<div class="wz">
文本排列 text-align，理论上，可以将这个属性应用于所有的块级元素，但无法应用于行内元素。
</div>


</body>
   <% include ../layout/footer.ejs %>
</html>