<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>superagent客户端请求代理</title>
</head>
<body>
AAAAAAAAAAAAA
</body>
<script src="/javascripts/lib/r.js" data-main="/javascripts/page/superagent_test/index.js" ></script>
</html>
</html>