<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
<!-- DataTables CSS -->

<link rel="stylesheet" href="stylesheets/test/index.css">


  </head>
  <body>
  <div id="sd">
       <a href="/myform">测试数据</a>
  </div>
   <div id="sd">
       <a href="/lodash/methods">lodash常用方法总结：</a>
  </div>
   <div id="sd">
       <a href="/superagent_test">superagent常用方法总结：</a>
  </div>
  <div id="sd">
       <a href="/file_test">文件测试：</a>
  </div>
  <div id="sd">
       <a href="/ractive_method">ractive 常用方法测试</a>
  </div>
    <div id="sd">
       <a href="/full_page">full page 测试</a>
  </div>
     <div id="sd">
       <a href="/react_method">react 方法测试</a>
  </div>
  


    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>asadsda</p>
    <!-- 引用reactive节点 -->
    <div id="test-wrapper">
    </div>

        <script type ="text/ractive" id ='array_test'>
        <!-- 模板 -->
    {{#each list}}
    <div>
    <span> 姓名：{{name}}</span>
    <span>年龄：{{age}}</span>
       </div>
    {{/each}}
    </script>

    <div id="simple">
    </div>
   <table id="table_id" class="display table table-striped table-hover" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th>Column 2</th>
                    <th>Column 3</th>
                    <th>Column 4</th>
                    <th>Column 5</th>
                    <th>Column 6</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
<br>
<br>
<br>
<div style="width:800px;height:600px;margin-left:200px;">
   <table id="table_id1" class="display" width="100%">
            <thead>
            </thead>
            <tbody>
            </tbody>
        </table>
</div>
 {%raw%}
    <script type ="text/ractive" id ='array_test1'>
    {{#each list:index}}
    <div>{{list[index]}}</div>
    {{/each}}
    </script>
 {%endraw%}

       <table id="table_show" class="display" width="80%">
            <thead>
                <tr>
                    <th>Column 1</th>
                    <th>Column 2</th>
                    <th>Column 3</th>
                    <th>Column 4</th>
                    <th>Column 5</th>
                    <th>Column 6</th>
                </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
              </tr>
            </tbody>
        </table>
  </body>
<script src="/javascripts/lib/r.js" data-main="/javascripts/ceshi" ></script>

</html>
