<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>lodash测试</title>
  <style>
.chart_l{

min-height:400px;
min-width:600px;
height:400px;
width:400px;
color:purple;
}
  </style>

</head>

<body>
数据处理
<div id="div01"></div>

<div id="chart_line" class="chart_l"></div>
<div id="chart_bar"></div>

</body>
<script src="/javascripts/lib/r.js" data-main="/javascripts/lodash_test.js" ></script>
</html>