<%var js = 'ractive_method/index'%>
<%var css = 'ractive_method/index'%>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ractive.js常用方法总结</title>
    <% include ../layout/header.ejs %>
</head>
<body>
<pre>
  ractive 一个轻量级的MVVM框架。
</pre>

<div class="ract-main-wrapper">
</div>
<div class="com-test"></div>
<div class="com-test1"></div>
<script type="javascript/template" id="main-template-01">
  <div> {{name}}</div>
  {{#if name === 'lili'}}
    你好我是用户
  {{else}}
  你好我是管理员
  {{/if}}

  输入内容：<input type="text" placeholder="请输入内容" val="{{text}}"/>
</script>
<div class="main-drop-wrapper" id="asd"></div>
<script type="javascript/template" id="dropdown-main-template">
  <div class="dropdown" style="margin-left:200px;">
  <a data-toggle="dropdown" href="#" >下拉菜单（Dropdown）触发器</a>
  <div class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <input placeholder="请输入查询字段" value="{{searchText}}" type="text">
  <ul>
    <li>{{list}}</li>
  </ul>
  </div>
  
</div>
</script>
通过 data 属性：在控制器元素（比如按钮或者链接）上设置属性 data-toggle="modal"，同时设置 data-target="#identifier" 或 href="#identifier" 来指定要切换的特定的模态框（带有 id="identifier"）。
通过 JavaScript：使用这种技术，您可以通过简单的一行 JavaScript 来调用带有 id="identifier" 的模态框： 
<div>
  <h2>创建模态框（Modal）</h2>
<!-- 按钮触发模态框 -->
<button class="btn btn-primary btn-lg" data-toggle="modal"
   data-target="#myModal">
   开始演示模态框
</button>
 
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close"
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
                  请输入注册信息
            </h4>
         </div>
         <div class="modal-body">
            <label for="name">姓名：</label>
            <input type="text" class="form-control"/>
             <label for="name">姓名：</label>
            <input type="text" class="form-control"/>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default"
               data-dismiss="modal">关闭
            </button>
            <button type="button" class="btn btn-primary">
               提交更改
            </button>
            <div class="pull-left alert-danger"></div>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>

<script id="template" type="text/ractive">
  <div>
    <Component>
  </div>
</script>

<script id="component" type="text/ractive">

  {{nonIsolatedSetting}}

</script>
</body>
   <% include ../layout/footer.ejs %>
</html>