<%var js = 'filename/page/index'%>
<%var css = 'filename/page/index'%>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>主题</title>
    <% include ../layout/header.ejs %>
</head>
<body>
写入主体
</body>
   <% include ../layout/footer.ejs %>
</html>