<%var js = 'btsp_layout_test/index'%>
<%var css = 'btsp_layout_test/index'%>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>主题</title>
    <% include ../layout/header.ejs %>
</head>
<body>

</body>
   <% include ../layout/footer.ejs %>
</html>