<%var js = 'ractive_method/event.js'%>
<%var css = 'ractive_method/index'%>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/module/component.css">
  <title>ractive.js常用方法总结</title>
    <% include ../layout/header.ejs %>
</head>
<body>
<pre>
  ractive 一个轻量级的MVVM框架。
  事件测试

</pre>
<div class="com-test">
</div>
</body>
   <% include ../layout/footer.ejs %>
</html>